# Токен бота от @BotFather
BOT_TOKEN=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# Публичный URL приложения (HTTPS обязателен)
APP_URL=https://sambo.procurarus.com
# Время ежедневного напоминания (по TZ из docker-compose)
REMIND_TIME=17:00
